# Solution I

In [ ]:
# To reverse words in a given string
 
# input string
string = "geeks quiz practice code"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
    # apending reversed words to l
    l.append(i)
# printing reverse words
print(string)
print(" ".join(l))

In [ ]:
# another method
str1="geeks quiz practice code"
s=str1.split()
p=list(reversed(s))
print(" ".join(p))

In [ ]:
s="geeks quiz practice code"
r=s.split()
res=""
for i in range (len(r)-1,-1,-1):
    res=res+r[i]+' '
print(res)

In [ ]:
#To print even length words in string
 
#input string
n="This is a python language"
#splitting the words in a given string
s=n.split(" ")
for i in s:
  #checking the length of words
  if len(i)%2==0:
    print(i)

In [ ]:
# another method
#input string
n="This is a python language"
#splitting the words in a given string
s=n.split(" ")
a=[i for i in s if len(i)%2==0]
print(" ".join(a))

In [ ]:
#Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]
max(x)

In [ ]:
m=x[0]
for i in x:
    if i>m:
        m=i
print(m)

In [ ]:
 #Reverse a list in Python
list1 = [100, 200, 300, 400, 500]
sorted(list1,reverse=True)

In [ ]:
list2=[34,23,12,109,45,9]
list2.reverse()
list2

In [ ]:
# another method
[list2[i] for i in range(len(list2)-1,-1,-1)]

In [ ]:
print(list2[::-1])

In [ ]:
# Swap function
def swapList(newList):
     
    newList[0], newList[-1] = newList[-1], newList[0]
 
    return newList
     
# Driver code
newList = [12, 35, 9, 56, 24]
print(swapList(newList))

In [ ]:
# another method
x = [12, 35, 9, 56, 24]
temp=x[0]
x[0]=x[len(x)-1]  # len(x)-1 = [-1]
x[len(x)-1]=temp
print(x)

In [ ]:
Turn every item of a list into its square
Given a list of numbers. write a program to turn every item of a list into its square.
numbers = [1, 2, 3, 4, 5, 6, 7]
Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
[x**2 for x in numbers]

In [ ]:
# list of numbers
list1 = [10, -21, 4, -45, 66, -93, 1]
 
pos_count, neg_count = 0, 0
 
# iterating each number in list
for num in list1:
     
    # checking condition
    if num >= 0:
        pos_count += 1
 
    else:
        neg_count += 1
         
print("Positive numbers in the list: ", pos_count)
print("Negative numbers in the list: ", neg_count)

In [ ]:
# creating a list
list1 = [11, 5, 17, 18, 23, 50]
 
# Iterate each element in list
# and add them in variable total
for ele in list1:
    if ele % 2 == 0:
        list1.remove(ele)
 
# printing modified list
print("New list after removing all even numbers: ", list1)

In [ ]:
del(list1[2],list1[0])
print(list1)

In [ ]:
# 9 write a Python program to swap first and last element of the list.
#swap first and last element of a list
 
# Swap function
def swapList(newList):
    size = len(newList)
     
    # Swapping
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
     
    return newList
     
# Driver code
newList = [12, 35, 9, 56, 24]
 
print(swapList(newList))

### Tuple

In [ ]:
# Tuple summation
# Using list() + sum()
 
# initializing tup
test_tup = (7, 8, 9, 1, 10, 7)
 
# printing original tuple
#print("The original tuple is : " + str(test_tup))
 
# Tuple elements inversions
# Using list() + sum()
res = sum(list(test_tup))
 
# printing result
print("The summation of tuple elements are : " + str(res))

Access value 20 from the tuple
The given tuple is a nested tuple. write a Python program to print the value 20.


tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

Swap two tuples in Python
Given:

tuple1 = (11, 22)
tuple2 = (99, 88)

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple3=()
tuple3=tuple1
tuple1=tuple2
print(tuple3)
print(tuple2)

In [ ]:
#Counts the number of occurrences of item 50 from a tuple
#Given:

tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

In [ ]:
count=0
tuple1 = (50, 10, 60, 70, 50)
for i in tuple1:
    if i==50:
        count=count+1
print(count)

In [ ]:
c=0
[c+1 for i in tuple1 if i==50 ]

In [ ]:
### Dictionary

Rename key of a dictionary
Write a program to rename a key city to a location in the following dictionary.
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
Expected output:

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location']=sample_dict.pop('city')
sample_dict

In [ ]:
# Function to print sum
 
def returnSum(myDict):
 
    list = []
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)
 
    return final
 
 
# Driver Function
dict1 = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict1))

In [ ]:
# another method
s=0
for i in dict1:
    s=s+dict1[i]
print(s)

In [13]:
def areRotations(string1, string2):
    size1 = len(string1)
    size2 = len(string2)
    temp = ''
 
    # Check if sizes of two strings are same
    if size1 != size2:
        return 0
 
    # Create a temp string with value str1.str1
    temp = string1 + string1
 
    # Now check if str2 is a substring of temp
    # string.count returns the number of occurrences of
    # the second string in temp
    if (temp.count(string2)> 0):
        print("Strings are rotations of each other")
    else:
        print("Strings are not rotations of each other")

In [17]:
areRotations('Hello','OllHe')

Strings are not rotations of each other

### LMS Problems

In [ ]:
## Write a Python program to sort a given dictionary by key.

data = {'banana': 80,'cherry': 20,'apple': 60,'grapes':120}
sorted_result = sorted(data.items())

print(sorted_result)

In [ ]:
data.items()

In [ ]:
#Write a python program to create a list and print all the items in reverse index order.
lst = [10, 11, 12, 13, 14, 15]
lst.reverse()
print(lst)

In [ ]:
s='hello'
print(dir(s))

In [ ]:
s.find('l')

In [ ]:
#Write a Python function that takes two sorted lists and return merged List.
List_1=[7,23,4,0,1]
List_2=[90,3,12,87,43]
List_1.sort()
List_2.sort()
List_1+List_2

In [ ]:
#Write a Python program to remove duplicates from a list
List_3=[2,3,4,3,6,2,7,4]
new_list=set(List_3)
new_list

In [ ]:
#Write a python function to check whether the list is Ascending order or not.
n=[56,90,87,54]    #assign list values from input
if sorted(n) == n: #for descending, use sorted(n, reverse=True)
    print("Yes")
else:
    print("No")